<div class="game" id="game">
  <div>
    <p>
		{% for let_col in letters_colors.new %}
		<span class="skatebox">&nbsp<span style="color: {{ let_col.color }}">
				{{ let_col.letter }}
			</span>&nbsp</span>
		{% endfor %}
		New You, vs.
	</p>
	<p>
		{% for let_col in letters_colors.past %}
		<span class="skatebox">&nbsp<span style="color: {{ let_col.color }}">
				{{ let_col.letter }}
			</span>&nbsp</span>
		{% endfor %}
   		Past You
	</p>
  </div>
  <div class="gamefeed">
    <ul class="list-group">
      <!-- classes should be list-group-item and optionally active li -->
	  {% for turn_line in turn_lines %}
        <li class="{{ turn_line.classes }}">{{ turn_line.text }}</li>
      {% endfor %}
    </ul>
  </div>
  <div align="right">
    <button type="button" class="btn btn-secondary" id="newskate">New Game</button>
  </div>

</div>

<!---

	Game Summary
	New You:  SKA             # make letters appear in boxes? so you can 
	Past You: SKATE           # draw out 5 boxes even before start

	Game Feed
		# (if n > 1) Turn [N-1] # what happened
		# (if n > 0) Turn [N] # what happened
		Instruction/End Message

	**

	Turn synopsis possibiliies
		* You matched Past You's Kickflip
		* You bailed on the FS 180 (+K)
		* You bailed on a FS 180 Shove-It
		* Past you matched your Nollie
		* Past you bailed on the FS Shove-It (+T)
		* Past you bailed on a 360 Flip

	Instruction/End Message Possibilties
		* Your lead! Try a trick not yet landed this game.
		* Try to land a Switch Shove-It as well
		* New You wins! Keep progressing :)
		* Past You wins! :(

-->
